$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/"
// bower:scss
@import bootstrap-sass-official/assets/stylesheets/bootstrap.scss
// endbower

//Variables
$body-font-size: 14px
$base-color: #333
$href-color: auto //#FFCC68
$href-color-hover: auto //#FFB117
$overlay-bg: rgba(255,255,255,0.7)

html
  height: 100%

body
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: $body-font-size
  height: 100%
  color: $base-color
  background: url('../images/save-sm.png') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  @media (min-width: $screen-md-min)
    background: url('../images/save-lg.png') no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

//Imports
@import "calc"
@import "elmt/llv-btn"
@import "nav"
@import "header"
@import "slide"
@import "screens/about"
@import "screens/album"
@import "screens/guestbook"
@import "screens/home"
@import "screens/invitation"
@import "screens/location"
@import "screens/transport"

.browsehappy
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

#main-ui-view
  position: absolute
  width: 100%
  top: 0
  bottom: 0
  .screen-container
    @extend .container-fluid
    background: $overlay-bg
    .screen-header
      @include make-md-column(12)
      text-align: center
      .header-title
        font-family: 'Average'

a
  color: $href-color
  &:hover
    color: $href-color-hover
