$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/"
// bower:scss
@import bootstrap-sass-official/assets/stylesheets/_bootstrap.scss
// endbower

//Variables
$body-font-size: 14px
$base-color: #333
$href-color: auto //#FFCC68
$href-color-hover: auto //#FFB117
$overlay-bg: rgba(255,255,255,0.8)

//Imports
@import "calc"
@import "elmt/wedinvite"
@import "elmt/llv-btn"
@import "elmt/llv-fbcomment"
@import "elmt/llv-timeline"
@import "elmt/llv-theme-changer"
@import "nav"
@import "header"
@import "slide"
@import "screens/about"
@import "screens/album"
@import "screens/album-detail"
@import "screens/guestbook"
@import "screens/home"
@import "screens/invitation"
@import "screens/location"
@import "screens/transport"

html
  min-height: 100%
  position: relative

body
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: $body-font-size
  background: url('../images/bg2-white-small.png') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  @media (min-width: $screen-sm-min)
    background: url('../images/bg-white-small.png') no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
  &.pink
    background: #DB84AD
  &.tosca
    background: turquoise

footer
  color: lighten($base-color, 30%)
  text-align: center
  font-size: emCalc(12px)
  padding: 10px 0
  p
    margin-top: 8px
  .fb_iframe_widget, #twitter-widget-0
    vertical-align: top
    margin-bottom: 10px
  .fb_iframe_widget
    margin-right: 20px

.browsehappy
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

#main-ui-view
  .screen-container
    @extend .container
    padding: 60px 30px 15px 30px
    .screen-header
      color: $base-color
      text-align: center
      h1
        font-size: emCalc(26px)
        letter-spacing: 13px
        font-weight: bold
        text-transform: uppercase
        @media (min-width: $screen-md-min)
          font-size: emCalc(32px)
  .people
    font-family: 'Great Vibes'
    font-weight: normal
    letter-spacing: 10px
    text-transform: normal

a
  color: $href-color
  &:hover
    color: $href-color-hover

@import "elmt/guestbook-animation"
