#album-detail-container
  height: 100%
  .album-detail-actions
    display: none
    @media (min-width: $screen-md-min)
      display: block
      font-weight: bold
      margin-bottom: 3px
      font-size: emCalc(13px)
      a
        text-decoration: none
        color: lighten($base-color, 20%)
  .album-detail-content
    .album-detail-prev, .album-detail-next
      font-size: emCalc(20px)
      @include make-xs-column(2)
      @media (min-width: $screen-md-min)
        display: none
      a
        color: lighten($base-color, 20%)
  .album-detail-content, .album-detail-img
    text-align: center
  .album-detail-img
    @include make-xs-column(8)
    @media (min-width: $screen-md-min)
      @include make-xs-column(12)
    i
      position: absolute
      left: 45%
      z-index: -1
    img
      @extend .img-thumbnail
      max-height: 550px
      padding: 1px
      border-radius: 0
