#guestbook-container
  #guestbook-form
    text-align: center
  .guestbook-instances
    margin: 10px 0
    .guestbook-instance
      margin: 10px 0
      padding: 5px 8px
      text-align: center
      span.quote-icon
        color: #fff
        font-size: emCalc(25px)
        font-family: 'wedinvite-dash'
        &:before
          content: "\e615"
      .guestbook-author
        font-size: emCalc(14px)
      .guestbook-message
        font-size: emCalc(20px)
        margin-bottom: 5px
