#guestbook-container
  #guestbook-form
    img
      width: 25px
    .user-display-name
      font-weight: bold
    > div
      -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175)
      box-shadow: 0 1px 6px rgba(0,0,0,0.175)
      padding: 13px
      border: 1px solid #d4d4d4
      border-radius: 2px
  .guestbook-loading, .guestbook-count-container
    color: $base-color
    text-align: center
    margin-bottom: 30px
  .guestbook-loading
    color: lighten($base-color, 30%)
  .guestbook-please
    font-size: emCalc(20px)
  .guestbook-count
    font-size: emCalc(16px)
    margin-bottom: 8px
    color: lighten($base-color, 10%)
  .guestbook-login
    margin-bottom: 20px
    button
      font-weight: bold
  .guestbook-instances
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    margin-bottom: 20px
    .guestbook-instance
      padding-top: 13px
      border: 1px solid #d4d4d4
      border-radius: 2px
      -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175)
      box-shadow: 0 1px 6px rgba(0,0,0,0.175)
      span.quote-icon
        color: $base-color
        font-size: emCalc(16px)
      .guestbook-avatar
        margin-bottom: 5px
      .guestbook-message-container
        .guestbook-author
          font-size: emCalc(14px)
          font-weight: bold
          color: lighten($base-color, 10%)
        .guestbook-timestamp
          font-size: emCalc(11px)
          color: lighten($base-color, 30%)
        .guestbook-message
          font-size: emCalc(13px)
  .guestbook-instance.ng-enter, .guestbook-instance.ng-move
    -webkit-transition: 0.5s linear all
    -moz-transition: 0.5s linear all
    -o-transition: 0.5s linear all
    transition: 0.5s linear all
    opacity: 0
    transform: translate(0, -1em)
  .guestbook-instance.ng-enter-active, .guestbook-instance.ng-move-active
    opacity: 1
    transform: translate(0, 0)
  #check-story-btn
    margin-top: 20px
