#home-container
  height: 100%
  #home-header
    text-align: center
    .people
      font-family: 'Great Vibes'
  #landing-img-container
    margin-top: 20px
  #landing-img
    width: 95%
    border: 4px solid #F0E68C
