.wedding-details
  text-align: center
  h1
    margin: 8px 0 5px 0
  h3
    font-size: emCalc(19px)
  h3, h4
    margin: 0 0 5px 0
  address
    margin-bottom: 5px
    font-size: emCalc(14px)
#landing-img
  border: 4px solid #F0E68C
