<div id="album-detail-container" class="screen-container" llv-album-dir img-id="model.currAlbumId">
  <div class="row album-detail-actions">
    <div class="col-xs-2 col-xs-offset-2">
      <a ui-sref="album">Back to album</a>
    </div>

    <div class="col-xs-3 col-xs-offset-5">
      <a ui-sref="albumDetail({imgId: model.prevId})">Previous</a>
      &middot;
      <a ui-sref="albumDetail({imgId: model.nextId})">Next</a>
    </div>
  </div>

  <div class="row album-detail-content">
    <div class="album-detail-prev">
      <a ui-sref="albumDetail({imgId: model.prevId})"><i class="fa fa-chevron-left"></i></a>
    </div>

    <div class="album-detail-img">
      <i class="fa fa-spin fa-spinner fa-3x"></i>
      <img src="sadas">
    </div>

    <div class="album-detail-next">
      <a ui-sref="albumDetail({imgId: model.nextId})"><i class="fa fa-chevron-right"></i></a>
    </div>
  </div>
</div>
