<div id="invitation-container" class="screen-container">
	<div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h2>Assamu'alaikum Warahmatullahi Wabarakatuh</h2>

      <p>Merupakan suatu kehormatan dan kebahagiaan bagi kami apabila Bapak / Ibu / Saudara/i
      berkenan hadir serta memberikan doa restu dalam pernikahan putra-putri kami
      yang akan dilaksanakan pada:</p>

      <h2>Akad nikah:</h2>
      <h3 class="date">Jumat, 10 Oktober 2014<br>Pukul 15:30 WIB</h3>
      
      <address>
        <strong>Jln. Masjid Al-Huda No. 8</strong><br>
        Kediri - Jawa Timur<br>
      </address>

      <h2>Resepsi:</h2>
      <h3 class="date">Sabtu, 11 Oktober 2014<br>Pukul 11:00 - 14:00</h3>
      
      <address>
        <strong>Gedung Bhagawanta Bhari</strong><br>
        Jln. Pamenang No.1 Kediri<br>
        Jawa Timur<br>
      </address>

      <p>Tiada rangkaian kata yang lebih indah selain ucapan terima kasih atas kehadiran
      serta doa restu Bapak / Ibu / Saudara/i sekalian</p>

      <p>Wassalamu'alaikum Warahmatullahi Wabarakatuh</p>

      <p>Kami yang berbahagia,</p>

      <div class="row">
        <div class="col-sm-6 col-md-6">
          <p>Kel. Kompol. Totok Mudjiarto</p>
        </div>

        <div class="col-sm-6 col-md-6">
          <p>Kel. Mulyanto</p>
        </div>
      </div>

      <h1 id="invitation-footer">Lely & Vito</h1>
    </div>
  </div>
</div>
