// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
 
// use of keyframes mixin
@include keyframes(my_animation) {
  0% {
    opacity: 1;
    transform: translate(0, -1em);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  } 
}

@mixin animation($name) {
  -webkit-animation: #{$name};
  -moz-animation: #{$name};
  -ms-animation: #{$name};
  -o-animation: #{$name};
  animation: #{$name};
}

.guestbook-instance.ng-leave {
  @include animation('my_animation 0.5s infinite');
}
